* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: hsl(0deg, 0%, 98%);
}
body p {
  color: hsl(229deg, 6%, 66%);
  font-size: 0.998rem;
  font-weight: 400;
}
body h1, body h2 {
  color: hsl(234deg, 12%, 34%);
  font-weight: 600;
}
body header {
  text-align: center;
  width: 32vw;
  margin: 0 auto;
  margin-top: 3rem;
}
body header .big-text {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: -1.5rem;
}
body main section {
  display: flex;
}
body main section .info {
  background-color: hsl(0deg, 0%, 100%);
  width: 24rem;
  border-radius: 5px;
  box-shadow: 0 10px 10px hsl(231deg, 58%, 95%);
}
body main section .info .top-bar {
  height: 0.2rem;
  border-radius: 5px 5px 0 0;
}
body main section .info h2, body main section .info p {
  margin-left: 1.5rem;
}
body main section .info h2 {
  margin-bottom: -0.4rem;
}
body main section .info img {
  margin: 2rem 0 2.5rem 18.5rem;
}
body main section .info:nth-of-type(1) .top-bar {
  background-color: hsl(180deg, 62%, 55%);
}
body main section .info:nth-of-type(2) .top-bar {
  background-color: hsl(0deg, 78%, 62%);
}
body main section .info:nth-of-type(3) .top-bar {
  background-color: hsl(34deg, 97%, 64%);
}
body main section .info:nth-of-type(4) .top-bar {
  background-color: hsl(212deg, 86%, 64%);
}

@media screen and (min-width: 1545px) {
  body main section {
    justify-content: center;
  }
  body main section .info {
    position: relative;
  }
  body main section .info:nth-of-type(1) {
    left: 10.5rem;
    top: 10rem;
  }
  body main section .info:nth-of-type(2) {
    left: 12rem;
  }
  body main section .info:nth-of-type(3) {
    top: 19rem;
    left: -11.95rem;
  }
  body main section .info:nth-of-type(4) {
    top: 10.1rem;
    left: -10.1rem;
  }
  body footer {
    margin-top: 20rem;
  }
}
@media screen and (max-width: 1545px) {
  body header p:nth-of-type(2) {
    width: 110%;
  }
  body main section {
    margin: 3rem 0 0 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  body main section .info {
    position: unset;
  }
  body main section .info img {
    margin-bottom: 1.5rem;
  }
  body main section .info:nth-of-type(1) {
    grid-column: 1;
    margin-top: 8rem;
    margin-left: 3rem;
  }
  body main section .info:nth-of-type(2) {
    grid-column: 2;
    margin-top: -12rem;
  }
  body main section .info:nth-of-type(3) {
    grid-column: 2;
    margin-top: -10rem;
  }
  body main section .info:nth-of-type(4) {
    grid-column: 3;
    margin-top: -24rem;
    margin-left: -3rem;
  }
  body footer {
    margin-top: -0.3rem;
  }
}
@media screen and (max-width: 375px) {
  body header {
    width: 100%;
    margin-bottom: 60px;
  }
  body header h1, body header .big-text {
    font-size: 1.5rem;
  }
  body header .big-text {
    margin-left: 0.55rem;
  }
  body header p {
    width: 95%;
  }
  body main section {
    margin-left: 2rem;
    flex-direction: column;
    row-gap: 2rem;
  }
  body main section .info {
    position: unset;
    width: 90%;
  }
  body main section .info p {
    font-size: 0.75rem;
    width: 80%;
  }
  body main section .info img {
    margin-left: 12.5rem;
  }
  body footer {
    margin-top: 3rem;
  }
}/*# sourceMappingURL=style.css.map */