*{
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%)) no-repeat;

    main{
        .panel{
            background-color: hsl(0,0%, 100%);
            border-radius: 1.5rem;
            .info{
                h1{
                    color: hsl(238, 29%, 16%);
                }
                article{
                    .flex{
                        display: flex;
                        img{
                            object-fit: contain;
                        }

                        .question{
                            color: hsl(237, 12%, 33%);
                            font-weight: 400;
                        }
                        .question.bold{
                            font-weight: 700;
                        }
                        .question:hover{
                            color: hsl(14, 88%, 65%);
                            cursor: pointer;
                        }

                    }
                    .answer{
                        color: hsl(240, 6%, 50%);
                    }
                    hr{
                        background-color: hsl(240, 5%, 91%);
                    }
                }
            }
        }
    }
    footer{
        .attribution {
            font-size: 11px;
            text-align: center;
            a{
                color: hsl(228, 45%, 44%);
            }
        }
    }
}
@media screen and(max-width: 375px){
    body{
        main{
            .panel{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 1.5rem 3rem;

                .image{
                    background: url(../images/bg-pattern-mobile.svg)no-repeat;
                    position: relative;
                    background-position: top left 49%;
                    width: 100%;
                    img{
                        position: relative;
                        left: 10%;
                        top: -7rem;
                        width: 15rem;
                    }
                }
                .info{
                    h1{
                        margin-top: -3.5rem;
                        text-align: center;
                        font-size: 2.1rem;
                    }
                }
            }
        }
    }
}
