*{
    box-sizing: border-box;
}
body{
    margin: 0;
    margin-left: 5%;
    background: url(../images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat ;
    background-size: cover;
    header{
        margin-top: 2%;
    }
    main{
        margin-top: 5%;
        height: 95%;
        .main-content{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .chats{
                display: block;
                object-fit: cover;
                max-width: 100%;
            }
            .intro{
                position: absolute;
                top: 20%;
                left: 60%;
                width: 25%;
                h1{
                    color: white;
                    font-weight: 600;
                    font-size: 2.4rem;
                    font-family: 'Poppins', sans-serif;
                }
                p{
                    font-weight: 400;
                    font-size: 1rem;
                    font-family: "Poppins", sans-serif;
                    width: 118%;
                    line-height: 1.6;
                    color: hsl(0, 0%, 100%);
                }
                button{
                    background-color: hsl(0, 0%, 100%);
                    border: none;
                    color: hsl(257, 40%, 49%);
                    width: 150px;
                    height: 40px;
                    border-radius: 20px;
                    font-weight: 400;
                    font-family: "Open sans", sans-serif;
                    box-shadow: 9px 7px 17px 4px rgb(44 39 39 / 32%);
                }
                button:hover{
                    background-color: hsl(300, 69%, 71%);
                    cursor: pointer;
                }
            }
        }
        .social-links{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin: 5% 0 0 80%;
            .link{
                width: 35px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 17px;
                border: 1px solid white;

                svg{
                    width: 20px;
                    height: 20px;
                    fill: white;
                }
            }
            .link:hover{
                border: 1px solid hsl(300, 69%, 71%);
                cursor: pointer;
                svg{
                    fill:hsl(300, 69%, 71%);
                }
            }
        }
    }
}
@media screen and (max-width: 375px) {
    body{
        background: url("../images/bg-mobile.svg");
        background-color: hsl(257, 40%, 49%);
        background-size: contain;
        background-repeat: no-repeat;
        header{
            svg{
                width: 100px;
                height: 100px;
                margin-left: 10%;

            }
        }
        main{
            .main-content{
                .chats{
                    margin: 0 auto;
                    width: 250px;
                    height: 250px;
                    object-fit: contain;

                    margin-top: -50px;
                }
                .intro{
                    position: static;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: nowrap;
                    flex-direction: column;
                    width: 100%;
                    text-align: center;
                    h1{
                        font-size: 22px;
                        width: 80%;
                    }
                    p{
                        font-size: 16px;
                        width: 200px;
                        line-height: 1.5;
                    }
                }
            }
            .social-links{
                margin-top: 15px;
                margin-left: 30%;
            }
        }
    }
}
